<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/homepage.css">
    <title>Pet Tree</title>
</head>
<body>
    <div class="Home__Title">
        <h1>
            Welcome home to the Pet Tree!
        </h1>
        <h4>A place to keep track of your family pets</h4>
    </div>
    <div class="Home">
        <h1>
            List of all the pets in your family tree!
        </h1>
        <h4> Scroll down! </h4>
        <% let each = 1; %> 
        <% family.forEach(animal => { %>
            <div class="each">
                <h3> <%= each %>: <%= animal.name %> </h3>
                <h5> Nickname: <%= animal.nickname %></h5>
                <h5> Breed: <%= animal.breed %></h5>
                <h5> Personality: <%= animal.personality %></h5>
            </div>
        <% each++ %> 
        <% }) %> 
    </div>

</body>
</html>